@import "resets"; // use _resets file
@import "variables"; // use variables from seperate file

// function for colors
@function color($color-name) {
  @return map-get($colors, $color-name);
}

// mixin with argument
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// change light to dark mode
@mixin theme($dark-theme: true) {
  @if $dark-theme {
    background: darken(color(primary), 10%);
    color: lighten(color(primary), 100%);
  }
}

// media @query
@mixin mobile-only {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet-only {
  @media (max-width: $tablet) {
    @content;
  }
}

body {
  font-family: $main-font;
  // very long alternative below
  // color: map-get($colors, primary);
  // background: map-get($colors, secondary);

  color: color(primary);
  background: color(secondary);
}

// nesting
.header {
  // include mixin
  @include flexCenter(column);
  width: 100%;
  height: 10rem;
  padding: 4rem;
  justify-content: center;
  // header_title class
  #{&}_title {
    font-weight: lighter;

    // hover
    &:hover {
      color: color(accent);
    }
  }
  #{&}_subtitle {
    font-weight: 500;
  }
}

.main {
  @include flexCenter(row);
  width: 80vw;
  margin: 0 auto;

  .btn {
    padding: 0.2rem;
    background: color(accent);
    color: color(secondary);
    border: 2px solid darken(color(accent), 20%);
    border-radius: 0.5rem;
  }

  @include mobile-only {
    flex-direction: column;
  }
}

// change themes
.dark {
  @include theme($dark-theme: true);
}

.light {
  @include theme($dark-theme: false);
}
