@import "resets"; // use _resets file
@import "variables"; // use variables from seperate file

// function for colors
@function color($color-name) {
  @return map-get($colors, $color-name);
}

// mixin with argument
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// change light to dark mode
@mixin theme($dark-theme: true) {
  @if $dark-theme {
    background: darken(color(primary), 10%);
    color: lighten(color(primary), 100%);
  }
}

body {
  font-family: $main-font;
  // very long alternative below
  // color: map-get($colors, primary);
  // background: map-get($colors, secondary);

  color: color(primary);
  background: color(secondary);
}

// nesting
.header {
  // include mixin
  @include flexCenter(column);
  width: 100%;
  height: 10rem;
  padding: 4rem;
  justify-content: center;
  background: color(primary);
  // header_title class
  #{&}_title {
    color: color(secondary);

    // hover
    &:hover {
      color: color(accent);
    }
  }
  #{&}_subtitle {
    color: color(secondary);
  }
}

.main {
  @include flexCenter(row);
  width: 80vw;
  margin: 0 auto;
}

// change themes
.dark {
  @include theme($dark-theme: true);
}
